<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Personal site to showcase my development skills that I leanred at Centriq Training">
    <meta name="author" content="Jacob Roelofsz">
    <title>@ViewBag.Title | Jacob Roelofsz</title>
    <!-- core CSS -->
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/Content/css/animate.min.css" rel="stylesheet">
    <link href="~/Content/css/prettyPhoto.css" rel="stylesheet">
    <link href="~/Content/css/owl.carousel.min.css" rel="stylesheet">
    <link href="~/Content/css/icomoon.css" rel="stylesheet">
    <link href="~/Content/css/main.css" rel="stylesheet">
    <link href="~/Content/css/responsive.css" rel="stylesheet">
    <link href="~/Content/css/custom.css" rel="stylesheet" />
    <link href="~/Content/css/resume.css" rel="stylesheet" />

    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
    <link rel="shortcut icon" href="~/Content/images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="~/Content/images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="~/Content/images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="~/Content/images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="~/Content/images/ico/apple-touch-icon-57-precomposed.png">

    @* jQuery *@
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.0/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">

    @* Fontawesome link *@
    <script src="https://kit.fontawesome.com/fc79fecaf8.js" crossorigin="anonymous"></script>


</head>
<!--/head-->
<body class="homepage">
    <header id="header">
        <div class="top-bar">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-xs-12">
                        <div class="top-number">
                            <p><i class="fa fa-phone-square"></i> +1 816-825-2860</p>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xs-12">
                        <div class="social">
                            <ul class="social-share">
                                <li><a href="https://www.facebook.com/jake.roelofsz.7" target="_blank" rel="noreferrer"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="https://www.linkedin.com/in/jacob-roelofsz/" target="_blank" rel="noreferrer"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="https://github.com/jroelofsz" target="_blank" rel="noreferrer"><i class="fa fa-github"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!--/.container-->
        </div>
        <!--/.top-bar-->
        <nav class="navbar navbar-inverse" role="banner">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="index.html">Jacob Roelofsz</a>
                </div>
                <div class="collapse navbar-collapse navbar-right">
                    <ul class="nav navbar-nav">
                        <li><a href="@Url.Action("Index", "Home")">Home</a></li>
                        <li><a href="@Url.Action("Resume", "Home")">Resume</a></li>
                        <li><a href="@Url.Action("Portfolio", "Home")">Portfolio</a></li>
                        <li><a href="@Url.Action("Contact", "Home")">Contact Me</a></li>
                    </ul>
                </div>
            </div>
            <!--/.container-->
        </nav>
        <!--/nav-->
    </header>
    <!--/#header-->
    <main>
        @RenderBody()
    </main>
    <!--footer-->
    <footer id="footer" class="midnight-blue">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    &copy; @DateTime.Now.Year <a target="_blank" href="http://shapebootstrap.net/" title="Free Twitter Bootstrap WordPress Themes and HTML templates">Jacob Roelofsz</a>. All Rights Reserved.
                </div>
            </div>
        </div>
    </footer>
    <!--/#footer-->
    <script src="~/Content/js/jquery.js"></script>
    <script src="~/Content/js/bootstrap.min.js"></script>
    <script src="~/Content/js/jquery.prettyPhoto.js"></script>
    <script src="~/Content/js/owl.carousel.min.js"></script>
    <script src="~/Content/js/jquery.isotope.min.js"></script>
    <script src="~/Content/js/main.js"></script>


    <!-- jQuery Scripts -->
    <script type="text/javascript">
        $(function () {
            $("#tabs").tabs({
                event: "mouseover"
            });
        });
    </script>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.js"></script>
    <script>
        $('.navbar-nav li').each(function () {
            if ($(this).find('a').attr('href') == window.location.pathname) {
                $(this).addClass('active');
            }
        });
    </script>
    <!--Bundles-->
    @*@Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")*@
    @RenderSection("scripts", required: false)
</body>
</html>
